.back {
 background-color: black;
}

.body {
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: yellow;
  margin-top: 70px;
  width: 1000px;
}

.nav {
  background-color: black;
  padding-inline: 180px;
}

.card-view {
  min-width: 250px;
  margin-right: 5px;
  border-radius: 10px;
  background-color: black;
  color: white;
  line-height: 0.5;
  margin-bottom: 5px;
}

.h1 {
  padding-left: 10px;
  margin-top: 30px;
  background-color: black;
  border-radius: 10px;
  color: yellow;
}

.btn-More {
  margin: 20px;
}

.btn-Favorite {
  margin: 20px;
}

.custom-scroll::-webkit-scrollbar {
  width: 10px; /* ancho de la barra de desplazamiento */
  border-radius: 5px;
}
.custom-scroll::-webkit-scrollbar-track {
  background-color: yellow; /* color de fondo de la barra de desplazamiento */
  border-radius: 5px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: lightskyblue; /* color del pulgar de la barra de desplazamiento */
  border-radius: 5px;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: blue; /* color del pulgar de la barra de desplazamiento al pasar el mouse */
}
